{% extends 'main.html' %}

{% block title %}IT Katas - Logs Discrets{% endblock %}

{% macro goto(level) %}level={{ level }}{% if static %}&static{% endif %}{% if solve %}&solve{% endif %}{% endmacro %}

{% block head %}
<link href='http://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
<style>
  nav {
    font-size: 120%;
    text-align: center;
  }
  nav a {
    text-decoration: none;
  }
</style>
{% endblock head %}

{% block body %}
<nav>
  <a href='/'>↑</a>
  {% if level > 0 %}
    <a href='?{{ goto(level-1) }}'>
  {% endif %}←{% if level > 0 %}
  </a>
  {% endif %}
  Niveau {{ level + 1 }}
  {% if not countdown.expired %}
  - {% include 'countdown.html' %}
  {% endif %}
  {% if level < max_level %}
    <a href='?{{ goto(level+1) }}'>
  {% endif %}→{% if level < max_level %}</a>
  {% endif %}
</nav>

{{ mission |safe }}

{% if solve %}
  <p>Hi, boss.</p>
  <p>Here's the solution: {{ solution }}</p>
{% endif %}

{% endblock body %}
