<h2 class='incremental' data-incremental-by-letter>Bonjour, agent {{ agent }}</h2>

<p class='incremental' data-incremental-by-letter>Hellman (ce nom ne
m'a jamais rassure...) prepare quelque chose de louche avec ses
logarithmes discrets. Nous voulons que vous alliez le surveiller de
pres, mais faites attention: il s'agit d'un criminel dangereux et tres
astucieux, ne vous faites pas prendre au pieges de ses logarithmes...</p>
<p class='incremental' data-incremental-by-letter>Pour vous preparer,
nous avons choisi pour vous un calcul de log discret modulo un nombre
premier de 20 bits, que voici de suite. Resolvez-le avant de
poursuivre votre mission.</p> 

<form style='text-align:center' class='incremental'>
  <p>
    log<sub>{{ gen }}</sub> {{ value }} = <input type='number' name='log'/> mod {{ p }}
    <input type='submit' value='Vérifier' />
  </p>
  <input type='hidden' name='level' value='{{ level }}'/>
  {% if static %}
  <input type='hidden' name='static' />
  {% endif %}
  {% if solve %}
  <input type='hidden' name='solve' />
  {% endif %}
</form>

<p class='incremental'>L</p>
<p class='incremental'></p>

<!-- level -->

<!-- level -->

<!-- level -->

<!-- level -->

<!-- level -->

<!-- level -->

<!-- level -->

<!-- level -->

