{% extends '007.html' %}
{% block mission %}
<p class='incremental' data-incremental-by-letter>Nous avons
  intercepté un message secret de l'ennemi. Nous savons qu'il est
  chiffré à l'aide du cryptosystème de Vigenère, mais nous n'en
  connaissons pas la clef.</p>

{% if not countdown.expired %}
<p><span  class='incremental' data-incremental-by-letter >
    Vous avez </span>{% include 'countdown.html' %}
  <span class='incremental' data-incremental-by-letter >
    pour décrypter le message, faute de quoi vous serez déclassé
    à agent de circulation&nbsp;!</span>
</p>
{% else %}
<p class='incremental' data-incremental-by-letter >
  Le temps à votre disposition pour
  décrypter le message est arrivé à échéance, en conséquence vous allez être
  éliminé.</p>
{% endif %}

<p><span class='incremental' data-incremental-by-letter>
    Voici de suite le message. Pour votre confort, vous pouvez aussi le
    télécharger en cliquant </span>
  <a class='incremental' data-incremental-by-letter href='{{uri_dnld}}'>ici</a><span class='incremental'>.</span>
</p>

<p class='nosp incremental' data-incremental-by-letter
    data-incremental-speed=1>
{{ ciphertext }}
</p>

{% if decrypt %}
<p>Hi, boss.</p>

<p>Here's the text:</p>

<p class='nosp'>{{ cleartext }}</p>

<p>The deciphering:</p>

<p class='nosp'>{{ deciphertext }}</p>

<p>And the cryptanalysis:</p>

<p class='nosp'>{{ decryptext }}</p>
{% endif %}

<p class='incremental' data-incremental-by-letter>Bon décodage&nbsp;!</p>
<p class='incremental'>L</p>
<p class='incremental'></p>
{% endblock %}
